*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'europa', Verdana, sans-serif;
  font-size: calc(14px + 8 * ((100vw - 320px) / 960));
  line-height: 1.6em;
  text-align: left;
  font-weight: 400;
  color: #2E3A37;
}

a{
  color: #30bf9f;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
